body {
  background-image: url("../Images/bg2.jpg");
}


.header {
  padding-top: 20px;
  padding-left: 200px;
  height: 40px;
}

.header h1{
  fill:#fff;
  font-size:45px;
  color: #CCD2D7;
  font-family: Montserrat-Bold, Montserrat;
  font-weight:700;
  letter-spacing:-0.04em;
  opacity:0.8;
}


/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  padding-left: 96.5px;
  padding-top: 15px;
  background:none;
  background-color: inherit;  
  font-size:20px;
  display: inline-block;
  outline:none;
}

.routerWindows {
  padding-left: 200px;
  padding-right: 200px;
}
